<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hide My Bits | <Del></Del>code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data">

        <h1><strong>Hide My Bits</strong> Decode</h1>

        <div class="form-group file-area">
            <label for="image">Images <span>Your images extension should be .jpg, .jpeg, .png, .gif</span></label>
            <input type="file" name="image" id="image" required="required" accept="image/png, image/jpeg, image/jpg, image/gif">
            <div class="file-dummy">
                <div class="success">Great, your files are selected. Keep on.</div>
                <div class="default">Please select image</div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password <span>Long the better</span></label>
            <input type="text" name="password" id="password" required="required" class="form-controll">
        </div>

        <!-- <div class="form-group file-area"></div>
            <label for="images">Text File <span>only .txt extension file</span></label>
            <input type="file" name="text-file" id="text-file" required="required" multiple="multiple">
            <div class="file-dummy">
                <div class="success">Great, your files are selected. Keep on.</div>
                <div class="default">Please select some files</div>
            </div>
        </div> -->

        <div class="form-group">
            <button type="submit">Decode</button>
        </div>

    </form>


    <a href="/encode" class="back-to-article">Encode</a>

</body>

</html>