<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <title>Hide My Bits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1><a href="{{url_for('hideMyBits')}}" style="text-decoration: none;color:#fff;">Hide My Bits</a></h1>

    <a href="{{url_for('encode')}}" style="text-decoration: none; color: white;">
        <div class="form-group file-area">
            <div class="file-dummy">
                <div class="default">Encode</div>
            </div>
        </div>
    </a>

    <a href="{{url_for('decode')}}" style="text-decoration: none; color: white;">
        <div class="form-group file-area">
            <div class="file-dummy">
                <div class="default">Decode</div>
            </div>
        </div>
    </a>

    <a href="https://github.com/sanish-alive/Hide-My-Bits" class="github-logo"><img src="{{ url_for('static', filename='images/github-mark-white.png') }}" alt="Github Logo"></a>

</body>

</html>